<div
  *ngIf="otpForm?.controls"
  [ngStyle]="config.containerStyles"
  class="wrapper {{ config.containerClass }}"
  id="c_{{ componentKey }}"
>
  <input
    *ngFor="let item of otpForm?.controls | keys; let i = index"
    (keydown)="onKeyDown($event, i)"
    (keyup)="onKeyUp($event)"
    [disabledNumberOnly]="!config.allowNumbersOnly"
    [formControl]="otpForm.controls[item]"
    [ngStyle]="config.inputStyles"
    [pattern]="config.allowNumbersOnly ? '\\d*' : ''"
    [placeholder]="config?.placeholder || ''"
    [type]="inputType"
    autocomplete="off"
    class="otp-input {{ config.inputClass }}"
    id="otp_{{ i }}_{{ componentKey }}"
    maxlength="1"
    numberOnly
  />
</div>
